.git
.gitignore
.venv
.env
.cursor
.DS_Store
models/
docker/
nginx/
scripts/
docs/
logs/
*.md
init-db.sh
__pycache__
*.py[cod]
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
celerybeat-schedule
api/media/
api/htmlcov/
api/celerybeat-schedule
api/db.sqlite3
requirements.dev.txt
