[run]
omit =
    apps/*/migrations/*
    manage.py
    apps/*/tests/*
    */__init__.py
    */*/__init.py
    */*/*/__init.py
    apps/core_app/management/*
    core/celery.py
    /tmp/*

[report]
# Ignore warnings about files that can't be found (like PyTorch temp files)
ignore_errors = True
